# IDE
.idea
.vscode
.fleet

*.iml
*.ipr
*.iws

# IntelliJ
out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash
.Trash-*

# project cache
.gradletasknamecache
**/build/
$RECYCLE.BIN/
.gradle
build/
gradle-app.setting

# !gradle
!gradle-wrapper.jar

# generated server
.server